ROBLOX_CLIENT_ID=your_client_id
ROBLOX_CLIENT_SECRET=your_client_secret
ROBLOX_REDIRECT_URI=https://yourdomain.com/api/auth/callback
JWT_SECRET=Sx8nRrPpY2mQkLd9gFz3BvTtWc6hJx!0
ADMINS=[admins]
INTERNAL_BAN_API_KEY=--
DATABASE_URL="postgresql://postgres:YOURPASSWORD@db.SUPABASEID.supabase.co:5432/postgres"