
body {
  font-family:
    -apple-system, BlinkMacSystemFont,
    "Inter",
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
}

main {
  margin-top: 120px !important;
}

.appContent {
  padding-top: calc(64px + 1em); /* navbar height + top offset */
}